.shopifytext {
  font-size: 0.8rem;
  font-weight: 500;
}

strong {
  font-weight: 600;
}

.shopifytitle {
  font-size: 0.7rem;
  font-weight: 500;
}

.consistent-font {
  font-size: 0.8rem;
}

.shopifysubtitle {
  font-size: 0.8rem;
  font-weight: 700;
}

.shopifylogo {
  height: 2rem;
  width: 2rem;
}

/* button {
  background-color: none !important;
} */

img {
  width: 100%;
}

/* #interaction {
  position: relative;
  bottom: 0;
} */

#follow {
  color: rgb(0, 89, 255);
}

.startPostButton {
  border-radius: 5rem;
  box-shadow: none !important;
  background-color: white;
  border: 1px solid lightgrey;
}

.startPostButton:focus,
.startPostButton:active,
.startPostButton:hover {
  outline: none !important;
  box-shadow: none !important;
}

.PostText {
  font-size: 1rem;
}

.MidSectionContainer {
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid lightgrey;
}

.IconAndText {
  align-content: center;
  align-items: center;
}

.AuthorButton {
  border-radius: 5rem;
  background-color: white;
  color: black;
  margin-right: 1rem;
  border: 1px solid gray;
}

.AuthorButton:hover {
  background-color: lightgray;
  border: 1px solid lightgrey;
  color: black;
}

.postContent {
  box-shadow: none !important;
  border: none;
}

.userImage {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

.SpaceBetween {
  justify-content: space-between;
}

.midbutton {
  background-color: white;
  border: none;
}

.topmargin {
  margin-top: 6rem;
}

.topmidmargin {
  margin-top: 4.5rem;
}

#postButton {
  background-color: #0072b1;
  border-radius: 30px;
  padding: 5px 15px;
}

.comment {
  background-color: #e4e4e4;
  border-radius: 5px;
}

.comment-outer:nth-child(5) {
  margin-top: 10px;
}

.like-comment {
  box-shadow: 0;
  /* background-color: white; */
}
