#cardtext {
    font-size: 0.8rem;
}

.PeopleContainer {
    border-radius: 10px;
}
#cardsubtitle {
    font-size: 0.8rem;
    font-weight: 700;
}

footer {
    min-width: 300px;
    font-size: 0.7rem;
    font-weight: 700;
    color: rgb(75, 75, 75);
}

p {
    margin-right: 1rem;
}

.learning {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(104, 104, 104);
}


#ViewButton {
    border: 0px !important;
    border-style: none !important;
    background-color: transparent;
    color: rgb(104, 104, 104);
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
  
  }

  .footerlogo {
    max-width: 3.8rem;
    height: 0.9rem;
  }

  .sectiontitle {
      font-size: 1rem;
      font-weight: 500;
  }

  .rightdiv {
      font-size: 0.8rem;
  }

  #bottomcard {
      padding-bottom: 0.5rem;
  
  }

  .infoicon {
      margin-left: 6.5rem;
  }
  
  .infoiconlower {
    margin-left: 4.7rem;
}

