.deleteButton {
    background-color: white;
    color: rgb(110, 110, 110);
    border: 1px solid;
    border-color: rgb(109, 109, 109) !important;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.9rem;
    height: 2.2rem;
    max-width: 9.5rem
    
}